# =================================================== #
#  CREDIT                                             #
# aken from: https://github.com/github/gitignore/blob/master/Python.gitignore
# =================================================== #
